*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* set defult design */
.btn {
    color: white;
    font-weight: 700;
    background-color: #ff5c47;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.container{
    padding: 0 100px;
}
h1{
    font-size: 52px;
    margin-bottom: 15px;
}
h2{
    font-size: 32px;
    margin-bottom: 12px;
}
p{
    font-size: 17px;
}

/* header design */
#hero_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(18, 17, 17, 0.351), rgb(0, 0, 0)), url('images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 0;
}
#hero_header h1{
    color: white;
}
#hero_header p{
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}

/* dotate today section design */
#donate_today{
    padding: 80px 0;
}
.first_container, .second_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 40px 0;
}
#donate_today p{
    margin-bottom: 20px;
}
.select_amount{
    display: flex;
    margin: 10px 0;
}
.amount{
    height: 90px;
    width: 100px;
    background-color: #f6f6f6;
    color: #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-weight: 800;
    font-size: 20px;
    border-radius: 3px;
}
.select_amount .active {
    background-color: #ff6d5a27;
    border: 2px solid #ff5c47;
    color: #ff5c47;
}
#donate_today h4 {
    color: gray;
    font-weight: 400;
    margin: 25px;
}
.card_container{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #f6f6f6;
    margin: 0 5px;
    padding: 40px;
    border-radius: 5px;
}
.card img{
    width: 50px;
    margin-bottom: 12px;
}
.card h3{
    margin-bottom: 12px;
}
.card p{
    font-size: 16px;
    margin-bottom: 0 !important;
}